################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AmazonPriceTracker/FileContentIndex
/.vs/AmazonPriceTracker/v17/TestStore/0
/.vs/AmazonPriceTracker/v17
/.vs/ProjectEvaluation
/AmazonPriceTracker/bin/Debug/net6.0
/AmazonPriceTracker/obj/Debug/net6.0
/AmazonPriceTracker/obj
/AmazonPriceTracker/products.txt
/AmazonPriceTracker/email_recipients.txt
/AmazonPriceTracker/email_credentials.json
/.vs/AmazonPriceTracker/DesignTimeBuild
/AmazonPriceTracker/bin/Release
/AmazonPriceTracker/Projecto Compilado/net6.0
/Compiled
/AmazonPriceTracker/bin/Debug/net8.0
/.vs/VirtualStoresPriceTracker/FileContentIndex
/.vs/VirtualStoresPriceTracker/v17
/.vs/VirtualStoresPriceTracker/v17/.suo
/.vs/VirtualStoresPriceTracker/v17/DocumentLayout.json
